.cover__text_title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
}
 
@media screen and (min-width: 768px) {
    .cover__text_title {
    font-size: 72px;
    line-height: 76px;
    }
}